* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100dvh;
}
body {
    font: 16px system-ui;
    color: azure;
    background: black;
    outline: 2px solid blue;
}
.container {
    padding: 2em;
}
h1 {
    margin-bottom: 1em;
}
h2 {
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
    line-height: 1.5em;
}
.centered {
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: grid;
    grid-template-columns: 1fr;
}
form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1.2em;
}
form button {
    padding: 1em 1.4em;
}
.centered a {
    display: block;
}
.centered a img {
    width: 100%;
}
@media screen and (max-width: 500px) {

}