{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'ai/style.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
            <h1>Hello</h1>
        </header>
        <article>
            <h2>Lorem ipsum dolor sit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium delectus distinctio dolore dolorem
                ducimus ea eos et expedita, facere fugiat ipsa labore laudantium magnam obcaecati officia provident
                quaerat saepe, vel?</p>
            <p>Ab amet aperiam cum deleniti, dignissimos dolorem eius eligendi expedita itaque iure molestias, mollitia
                natus non officiis optio quam quia quibusdam quis recusandae, reiciendis repellat rerum sit soluta totam
                velit.</p>
            <p>Alias assumenda blanditiis cumque eius exercitationem facilis fugiat harum illo iure maiores nobis nulla,
                odit officiis optio pariatur possimus quos repellat sit, totam voluptatem. A eius fugit harum neque
                ut?</p>
        </article>
        <footer>
            DenSerKo
        </footer>
    </main>
</body>
</html>