{% extends 'ai/base.html' %}
{% block title %}Вопросики{% endblock %}
{% block content %}
    <section>
        <div class="centered">
            <form action="{% url 'story' %}" method="POST">
                <h1>Ответь на вопросы</h1>
                <label for="names">Как тебя или вас зовут?</label>
                <input type="text" name="names">
                {% csrf_token %}
                {% for question in questions %}
                        <label for="answer{{ forloop.counter }}">{{ question }}</label>
                        <input type="text" name="answer{{ forloop.counter }}">
                {% endfor %}
                <button>Ответить</button>
            </form>
        </div>
    </section>
{% endblock %}