{% extends 'ai/base.html' %}
{% block title %}Вопросики{% endblock %}
{% block content %}
    <div class="centered">
    <form action="{% url 'story' %}" method="POST">
        <h1>Ответь на вопросы</h1>
        {% csrf_token %}
        {% for question in questions %}
                <p><label for="question{{ forloop.counter }}">{{ question }}</label></p>
                <p><input type="text" id="question{{ forloop.counter }}" name="question{{ forloop.counter }}"></p>
        {% endfor %}
        <button>Ответить</button>
    </form>
    </div>
{% endblock %}